<main id="main-container-challengeThree">
    <!-- Section One - Header and page presentation -->
    <div class="section-one-container">
        <div id="header">
            <img class="logo" src="assets/chThree-huddle-landing-page/logo.svg" alt="Huddle_logo" />
            <input type="button" id="btn-try-it" value="Try It Free" />
        </div>
        
        <div id="page-presentation">
            <div id="get-started">
                <h2 class="h2ChThree">Build The Community Your Fans Will Love</h2>
                <p>Huddle re-imagines the way we build communities. You have a voice, but so does your audience. 
                    Create connections with your users as you engage in genuine discussion. 
                </p>
                <input type="button" id="btn-getStarted" value="Get Started For Free" />
            </div>
            <div id="illustration-mockup">
                <img src="assets/chThree-huddle-landing-page/illustration-mockups.svg" alt="Illustration Mockups" />
            </div>
        </div>
    </div>
    <!-- Section two - Presentation Cards -->
    <div class="section-two-container">

        <div class="presentation-card">
            <div class="card-text">
                <h3 class="h3ChThree">Grow Together</h3>
                <p>Generate meaningful discussions with your audience and build a strong, loyal community. 
                    Think of the insightful conversations you miss out on with a feedback form.
                </p> 
            </div>
    
            <div class="card-image-container">
                <img class="cardImage" src="assets/chThree-huddle-landing-page/illustration-grow-together.svg" alt="Illustration Growing Up Together"/>
            </div>
        </div>
    
        <div class="presentation-card">
            <div class="card-text">
                <h3 class="h3ChThree">Flowing Conversations</h3>
                <p>You wouldn't paginate a conversation in real life, so why do it online? Our threads 
                    have just-in-time loading for a more natural flow.
                </p>
            </div>
            <div class="card-image-container">
                <img class="cardImage" src="assets/chThree-huddle-landing-page/illustration-flowing-conversation.svg" alt="Illustration Flowing Conversation"/>
            </div>
    
        </div>
        
        <div class="presentation-card">
            <div class="card-text">
                <h3 class="h3ChThree">Your Users</h3>
                <p>It takes no time at all to integrate Huddle with your app's authentication solution. 
                    This means, once signed in to your app, your users can start chatting immediately.
                </p>
            </div>
            <div class="card-image-container">
                <img class="cardImage" src="assets/chThree-huddle-landing-page/illustration-your-users.svg" alt="Illustration Your Users"/>
            </div>
        </div>
        
        <!-- Mini-Section - -->
        <div class="ready-to-build-your-community">
            <h4 class="h4ChThree">Ready To Build Your Community?</h4>
            <input type="button" id="btn-buildCommunity" value="Get Started For Free" />
        </div>
    </div>

    <!-- Section three - -->
    <div class="section-footer-container">

        <div>
            <img class="logo-bottom" src="assets/chThree-huddle-landing-page/logo copy.svg" alt="Huddle_logo" />
        </div>
        <div class="section-three-content">
            <div class="main-contact">
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-map-marker"></i></span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua
                    </li>
                    <li><span class="fa-li"><i class="fas fa-phone-volume"></i></span>+1-543-123-4567</li>
                    <li><span class="fa-li"><i class="far fa-envelope"></i></span>example@huddle.com</li>
                </ul>
            </div>
        
            <div class="more-about-us">
                <ul>
                    <li><a>About Us</a></li>
                    <li><a>What We Do</a></li>
                    <li><a>FAQ</a></li>
                </ul>
        
                <ul>
                    <li><a>Career</a></li>
                    <li><a>Blog</a></li>
                    <li><a>Contact Us</a></li>
                </ul>
            
            </div>
            
            <div class="social-media"> 
                <ul class="social-media-links">
                    <li>
                    <a><i class="fab fa-facebook-f fa-lg"></i></a>
                    </li>
                    <li>
                    <a><i class="fab fa-twitter fa-lg"></i></a>
                    </li>
                    <li>
                    <a><i class="fab fa-instagram fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="Copyright">&copy; Copyright 2018 Huddle. All rights reserved.</div>
    </div>
</main>