

<main class="mainpages-main-container-height">
    <app-mainpage-navbar></app-mainpage-navbar>
    <div id="homePage-main-container" class="max-width-px-container">
        <div class="svg-container">
          <img class="mainPageSvg" src="/assets/robot.svg" title="Robot SVG - @Stories - Freepik.com" alt="Robot SVG - @Stories - Freepik.com"/>
        </div>
        <div class="introduction-container">
            <h2 class="h2-mainpages">Hey!</h2>
            <h2 class="h2-mainpages">I'm Andreea.</h2>
            <h2 class="h2-mainpages">A Web Developer.</h2>
            <a routerLink="/contact" class="btn--action">
                <button class="mainpages-btn btn--action"><span>CONTACT ME</span></button>
            </a>
        </div>
    
        <div class="social-media-links-container">
          <a href="https://www.linkedin.com/in/bociu-andreea-8b6a2076" alt="Andreea Bociu - LinkedIn Profile" target="_blank">
            <img class="imageResize40" src="/assets/icons8-linkedin-48.png" />
          </a>
          <a href="https://github.com/ezra0619" alt="Ezra GitHub Profile" target="_blank">
            <img class="imageResize40" src="/assets/icons8-github-48.png" />
          </a>
        </div>
    </div>

</main>
