<main id="fylo-data-storage-main-container">
    <div class="fylo-first-half-page"></div>
    <div class="fylo-middle-page">
        <div class="fylo-box-container">
            <div class="fylo-left-container">
                <div class="fylo-logo">
                    <img src="assets/chEight-fylo-data-storage-component/logo.svg" alt="fylo-logo"/>
                </div>
                <div class="fylo-buttons">
                    <div class="icon-container">
                        <img src="assets/chEight-fylo-data-storage-component/icon-document.svg" alt="document-icon"/>
                    </div>
                    <div class="icon-container">
                        <img src="assets/chEight-fylo-data-storage-component/icon-folder.svg" alt="folder-icon" />
                    </div>
                    <div class="icon-container">
                        <img src="assets/chEight-fylo-data-storage-component/icon-upload.svg" alt="upload-icon" />
                    </div>
                </div>
            </div>
            <div class="fylo-right-container">
                <div class="how-much-used-container">
                    You’ve used <strong>815 GB</strong> of your storage
                </div>

                <div class="talk-bubble tri-right btm-right">
                    <div class="chat-box-info"> <span class="gb-left-text">185</span> <span class="grey">GB LEFT</span></div>
                </div>
                <div class="tracker-container">
                    <div class="tracked-progress-container"></div>
                </div>
                <div class="stats-container">
                    <div class="stats-beginning"><strong>0 GB</strong></div>
                    <div class="stats-end"><strong>1000 GB</strong></div>
                </div>
            </div>
        </div>
        
       
    </div>
    <div class="fylo-second-half-page">
        <img src='assets/chEight-fylo-data-storage-component/bg-desktop.png' alt="background-image-waves" />
    </div>
</main>