

.row{
    margin-left: 0;
    margin-right: 0;
}

#main-challenge-18-container{
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    .game-and-score-container{ 
        background-color: transparent;
        // padding-top: 60px;
        // padding-bottom: 40px;
        .game-and-score-information {
            padding: 20px 30px;
            border-radius: 10px;
            border: 3px solid hsl(217, 16%, 45%);

            @media (max-width: 767px) {
                padding: 20px;
            }
            .game-name{
                color: white;
                h4{
                    margin-bottom: 0;
                    font-weight: 700;
                    font-size: 1.5rem;
                }

                @media (max-width: 768px) { 
                    h4{
                        font-size: 1.2rem;
                    }
                }

                @media (max-width: 575px) { 
                    h4{
                        font-size: 1rem;
                    }
                }

            }

            .score{
                height: 100%;
                width: 160px;
                background-color: white;
                border-radius: 10px;

                .score-text{
                    color: hsl(229, 64%, 46%); 
                    font-weight: 600;
                    font-size: 25px;
                }

                .score-number{
                    color: #545164;
                    font-weight: 700;
                    font-size: 60px;
                }

                @media (max-width: 768px) { 
                    width: 140px;
                    .score-text{
                        font-size: 20px;
                    }
                    .score-number{
                        font-size: 50px;
                    }
                }

                @media (max-width: 575px) { 
                    width: 100px;
                    .score-text{
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .display-none {
        display: none;
    }

    .game-progression-container{
        // padding-top: 100px;
        height: auto;
        .game-information-container{

            width: 100%;
            height: auto;

            .all-choices{
                //TO UNDO
                // display: none;
                //----
                position: relative;
                height: 350px;
                width: 350px;

                @media (max-width: 767px){
                    height: 280px;
                    width: 280px;
                }

                @media (max-width: 575px){
                    height: 200px;
                    width: 200px;
                }

                img.pentagon {
                    height: 100%;
                    width: auto;
                }
                
                .gradient-border {
                    position: absolute;
                }
                
            }

            .game-started{

                .house-choice-container,
                .player-choice-container {
                    padding: 30px;
                }

                @media(max-width: 767px){
                    .house-choice-container,
                    .player-choice-container{
                        width: 45%;
                    }
                }

                .who-picked-text{
                    color: white;
                    font-weight: 700;
                    padding: 20px 0;
                    h3{
                        font-size: 1.75rem;
                    }

                    @media(max-width: 767px){
                        height: 80px;
                        text-align: center;
                        h3{
                            font-size: 1.2rem;
                        }
                    }
                }
                .gradient-border {
                    position: relative;
                }

                .result-container{
                    padding: 20px 30px;

                    .result-text{
                        color: white;
                    }

                    button.play-again-button{
                        background-color: white;
                        color: hsl(237, 49%, 15%);
                        border-radius: 10px;
                        padding: 10px 30px;
                        outline: none;
                        border: none;
                    }

                    @media (max-width: 767px){
                        width: 100vw;

                        .result-text{
                            text-align: center;
                            h2 {
                                font-size: 3.5rem;
                                font-weight: 800;
                            }
                        }

                        button.play-again-button{
                            padding: 14px 70px;
                            font-size: 1rem;
                            letter-spacing: 3px;
                        }
                    }




                    button.play-again-button:active,
                    button.play-again-button:hover {
                        outline: none;
                    }
                }
            }
        }
    }

    .rules {
        .rules-button{
            background-color: transparent;
            color: white;
            width: auto;
            padding: 5px 20px; 
            border: 3px solid hsl(217, 16%, 45%);
            border-radius: 10px;
            outline: none;
        }

        .rules-button:active,
        .rules-button:hover {
            outline: none;
        }
    }

    .circle {
        // position: relative;
        background-color: white;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        img.sign-img {
            height: 50%;
            width: 50%;
        }
    }

    .gradient-border {
        // position: absolute;
        height: 160px;
        width: 160px;
        border-radius: 50%;
        padding: 22px;
    }

    @media (max-width: 767px) {

        .gradient-border {
            height: 130px;
            width: 130px;
            padding: 16px;
        }

    }

    @media (max-width: 575px) {

        .gradient-border {
            height: 100px;
            width: 100px;
            padding: 12px;
        }

    }

    .step-2plus-gradient-border{
        height: 280px;
        width: 280px;
        border-radius: 50%;
        padding: 30px;
        position: relative;
    }

    //from 768 to 992
    @media (max-width: 992px) { 
        .step-2plus-gradient-border{
            height: 220px;
            width: 220px;
            padding: 30px;
        }
    }

    //from 576 to 768
    @media (max-width: 768px) { 
        .step-2plus-gradient-border{
            height: 180px;
            width: 180px;
            padding: 20px;
        }
    }

    @media (max-width: 576px) { 
        .step-2plus-gradient-border{
            height: 120px;
            width: 120px;
            padding: 14px;
        }
    }

    .beforeHousePicks {
        background-color: #182341;
    }

    .scissors-1st-step-position{
        top: -85px;
        left: 101px;
    }

    .paper-1st-step-position{
        top: 64px;
        left: 300px;
    }

    .rock-1st-step-position{
        left: 229px;
        bottom: -77px;
    }

    .lizard-1st-step-position{
        left: -9px;
        bottom: -77px;
    }

    .spock-1st-step-position{
        top: 64px;
        left: -93px;
    }

    .scissors {
        background: -webkit-linear-gradient(left top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    }

    .paper {
        background: -webkit-linear-gradient(left top,  hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    }

    .rock {
        background: -webkit-linear-gradient(left top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    }

    .lizard {
        background: -webkit-linear-gradient(left top, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    }

    .spock{
        background: -webkit-linear-gradient(left top, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    }

    @media (max-width: 767px) {
        .scissors-1st-step-position{
            top: -87px;
            left: 78px;
        }

        .paper-1st-step-position{
            top: 33px;
            left: 221px;
        }

        .rock-1st-step-position{
            left: 179px;
            bottom: -47px;
        }

        .lizard-1st-step-position{
            left: -20px;
            bottom: -47px;
        }

        .spock-1st-step-position{
            top: 33px;
            left: -66px;
        }
    }

    @media (max-width: 575px) {
        .scissors-1st-step-position{
            top: -68px;
            left: 53px;
        }

        .paper-1st-step-position{
            top: 23px;
            left: 162px;
        }

        .rock-1st-step-position{
            left: 134px;
            bottom: -47px;
        }

        .lizard-1st-step-position{
            left: -20px;
            bottom: -47px;
        }

        .spock-1st-step-position{
            top: 23px;
            left: -59px;
        }
    }

    .rules-page {
        position: absolute;
        align-self: center;
        background-color: rgb(243, 243, 243);
        z-index: 100;
        padding: 40px 40px 50px 40px;
        width: 570px;
        height: auto;
        border-radius: 20px;
        .rules-main-row {
            height: auto;
            width: 100%;

            h4 {
                font-size: 2rem;
                font-weight: 800;
            }
            img {
                height: 100%;
                width: auto;
            }
        }

        .rules-second-row{
            height: 80%;
            width: 100%;

            img {
                height: 470px;
                width: auto;
            }

            @media (max-width: 575px){
                img {
                    height: 290px;
                }
            }
        }

        .close-rules {
            width: 20px;
            height: 20px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        @media(max-width: 767px){
            width: 100vw;
            height: 100vh;
            border-radius: 0;
        }
    }

}
// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1366px

// ## Colors

// ### Primary

// - Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
// - Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
// - Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
// - Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
// - Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

// ### Neutral

// - Dark Text: hsl(229, 25%, 31%)
// - Score Text: hsl(229, 64%, 46%)
// - Header Outline: hsl(217, 16%, 45%)

// ### Background

// - Radial Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%)

// ## Fonts

// - Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
// - Weights: 600, 700