<header>
    <nav id="main-page-navbar" class="max-width-px-container">
        <div class="main-page-nav-link"><a routerLink="/" id="Home">Home</a></div>
        <div class="main-page-nav-link"><a routerLink="/projects" id="Projects">Projects</a></div>
        <div class="main-page-nav-link"><a routerLink="/contact" id="Contact">Contact</a></div>
    </nav>
<!-- 
    <div (click)="onToggleHamburgerMenu()" >
        <i class="fa fa-bars" [ngStyle]="{'font-size.px': 32}"></i>
    </div>

    <nav class="main-page-navbar" id="hamburger-menu" [ngClass]="{'displayNone': !toggleHamburgerMenu }">
        <div class="main-page-nav-link"><a routerLink="/" id="Home">Home</a></div>
        <div class="main-page-nav-link"><a routerLink="/projects" id="Projects">Projects</a></div>
        <div class="main-page-nav-link"><a routerLink="/contact" id="Contact">Contact</a></div>
    </nav> -->
</header>