

#ip-address-tracker-main-container{
    height: 100vh;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;

    .dark-grey-text-color{
        color: hsl(0, 33%, 1%);
        font-weight: 700;
    }

    .light-grey-text-color{
        color: hsl(0, 0%, 59%);
        font-weight: 500;
    }

    h2 {
        color: white;
        padding-bottom: 10px;
    }

    input:focus,
    input:active  {
        outline: none;
    }

    .input-and-data-container {
        z-index: 1;
        background: url(../../../assets/chFourteen-IP-address-tracker/pattern-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .header-container{
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0 0 0;
    
            .search-input-container{
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: row;
                border-radius: 20px;
                padding-bottom: 10px;
                .search-input {
                    width: calc(100% - 100px);
                    height: auto;
                    padding: 20px;
                    border-radius: 20px 0 0 20px;
                    border: none;

                }
    
                .search-button {
                    // width: 15%;
                    width: auto;
                    padding: 10px 20px;
                    // height: 100%;
                    background-color: black;
                    border: none;
                    border-radius: 0 20px 20px 0;
                    color: white;
                }

            }
            
            .error-container {
                color: red;
            }
        }
        .display-search-parameters{
            display: flex;
            flex-direction: row;
            z-index: 2;
            height: 130px;
            width: 80%;
            background-color: white;
            align-content: center;
            justify-content: space-around;
            padding: 20px;
            border-radius: 20px;
            border: 1px solid hsl(0, 0%, 59%);
            .ip-address-information,
            .location-information,
            .timezone-information,
            .isp-information{
                display: flex;
                flex-direction: column;
            }
        }
    }
    

    .google-map-container {
        z-index: 1;
        height: 60vh;
        width: 100%;
    }

    @media(max-width: 900px){
        .input-and-data-container {
            height: auto;
            padding-bottom: 20px;
            .header-container{
            
                .search-input-container{
                    width: 80%;
                }
            }

            .display-search-parameters{
                display: flex;
                flex-direction: column;
                height: auto;
                align-content: center;
                padding: 10px;

                .ip-address-information,
                .location-information,
                .timezone-information{
                    border-bottom: 1px solid hsl(0, 0%, 59%);
                }

                .ip-address-information,
                .location-information,
                .timezone-information,
                .isp-information{
                    width: 100%;
                    align-items: center;
                    p{
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }

}

