
.row {
    margin-left: 0;
    margin-right: 0;
}

.rest-api-countries-container,
.filter-and-search-container {
    font-size: 14px;
}

.filter-and-search-container{
    .filter-container{
        button {
            font-size: 14px;
        }
    }
}

.rest-api-countries-container{
    .all-countries-container{

        .country-container:focus,
        .country-container:active{
            outline: none;
        }

        .country-container{
            border-radius: 10px;
            width: 305px;
            height: auto;
            margin: 20px;
            outline: none;
            .country-image-container{
                border-radius: 10px 10px 0 0;
                width: 100%;
                height: 200px;
                img{
                    border-radius: 10px 10px 0 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .country-information-container{
                border-radius: 0 0 10px 10px;
                padding: 20px 20px 0 20px;
                width: 100%;
                height: 200px;
                h5 {
                    font-weight: 800;
                }
                p{
                    margin-bottom: 0.5rem;
                }

                .font-weight-bold-light {
                    font-weight: 600;
                }
            }
        }
    }
}

.filter-and-search-container {
    padding-top: 40px;
    padding-bottom: 40px;
    .search-input-container{
        border-radius: 4px;
        height: 51px;

        .fas{
            padding-left: 20px;
        }
        .search-field{
            border: none;
            height: 100%;
            padding: 0 20px;
            outline: none;
            background-color: transparent;
        }

        .search-field:active,
        .search-field:focus {
            outline: none
        }

        .search-field::placeholder {
            color: var(--ch-16-placeholder-color);
        }
    }


    .filter-container{
        height: 100%;
        width: 194px;
        .dropdown{
            border-radius: 4px;
        }
    
        @media (max-width: 767px){
            margin-top: 30px;
        }
        // .dropdown-toggle::after {
        //     margin-left: 17px;
        // }
    
        .dropdown-menu {
            background-color: var(--ch-16-secondary-bg);
            color: var(--ch-16-text-color);
            border: none;
            min-width: 12rem;
        }
    
        .btn {
            padding: 14px 40px;
        }

        .btn,
        .dropdown-item {
            color: var(--ch-16-text-color);
        }
    
        .dropdown-item:hover {
            background-color: var(--ch-16-btn-color-hover);
        }
    
        .btn:active,
        .btn:focus,
        .dropdown-item:active,
        .dropdown-item:focus {
            outline: none;
            box-shadow: none;
        }
    }
    
}