<div id="container-challengeFour">
    <div id="main-container-grid">
        <div id="grid-elem-1">
            <h2 class="h2ChFour">Join our community</h2>
            <p class="pChFour">30-day, hassle-free money back guarantee</p>
            <p class="pChFour">Gain access to our full library of tutorials along with expert code reviews. 
            Perfect for any developers who are serious about honing their skills.</p>
        </div>

        <div id="grid-elem-2">
            <h3 class="h3ChFour">Monthly Subscription</h3>
            <p class="pChFour"><span class="money">&#36;29</span> <span class="thin-greyish">per month</span></p>
            <p class="pChFour">Full access for less than &#36;1 a day</p>
            <input type="button" value="Sign Up" />

        </div>

        <div id="grid-elem-3">
            <h3 class="h3ChFour">Why Us</h3>
            <ul>
                <li>Tutorials by industry experts</li>
                <li>Peer &amp; expert code review</li>
                <li>Coding exercises</li>
                <li>Access to our GitHub repos</li>
                <li>Community forum</li>
                <li>Flashcard decks</li>
                <li>New videos every week</li>
            </ul>
        </div>
    </div>
</div>