<main id="huddle-landing-page-single-introductory-section">

    <div class="huddle-logo-section">
        <img src="assets/chEleven-huddle-landing-page-with-sg-intr-section/logo.svg" alt="Huddle-Logo" />
    </div>

    <div class="huddle-main-content-section">
        <div class="huddle-image-section">
            <img src="assets/chEleven-huddle-landing-page-with-sg-intr-section/illustration-mockups.svg" alt="Huddle-Mockup-illustration" />
        </div>

        <div class="huddle-text-section">
            <h2>Build The Community Your Fans Will Love</h2>

            <p>Huddle re-imagines the way we build communities. 
                You have a voice, but so does your audience. 
                Create connections with your users as you engage in 
                genuine discussion. 
            </p>

            <button class="register-button">Register</button>
        </div>
    </div>

    <div class="social-media-section">
        <div class="icon-container">
            <a><i class="fab fa-facebook-f fa-sm"></i></a>
        </div>
        <div class="icon-container">
            <a><i class="fab fa-twitter fa-sm"></i></a>
        </div>

        <div class="icon-container">
            <a><i class="fab fa-instagram fa-sm"></i></a>
        </div>
    </div>

</main>