<main id="fylo-landing-page-two-columns-layout-container">

    <div id="nav-bar-container">
        <div class="logo-container width-30-percent">
            <img src="assets/chTwelve-fylo-landing-page-with-two-column-layout/logo.svg" alt="Fylo-logo" />
        </div>
        <div class="nav-buttons-container width-70-percent">
            <a>Features</a>
            <a>Team</a>
            <a>Sign In</a>
        </div>
    </div>
    
    <div id="section-one-container">
        <div class="width-50-100-percent">
            <h2>All your files in one secure location, accessible anywhere.</h2>
            <p>Fylo stores your most important files in one secure location. 
            Access them wherever you need, share and collaborate with friends, 
            family, and co-workers.</p>

            <div class="get-in-touch-container">
                <input class="email-input" type="email" placeholder="Enter your email..." />
                <button class="get-started-button buttonColor">Get Started</button>
            </div>

        </div>
        <div class="image-container width-50-100-percent">
            <img src="assets/chTwelve-fylo-landing-page-with-two-column-layout/illustration-1.svg" alt="Illustration-One"/>
        </div>
        
    </div>

    <div id="curved-background-one">
        <img src="assets/chTwelve-fylo-landing-page-with-two-column-layout/bg-curve-desktop.svg" alt="curved-background-desktop" />
    </div>

    <div id="curved-background-two">
        <img src="assets/chTwelve-fylo-landing-page-with-two-column-layout/bg-curve-mobile.svg" alt="curved-background-mobile" />
    </div>

    <div id="section-two-container">
        <div class="width-50-100-percent stay-productive-content-container">
            <h2>Stay productive, wherever you are</h2>

            <p>Never let location be an issue when accessing your files. Fylo has you 
            covered for all of your file storage needs.</p>

            <p>Securely share files and folders with friends, family and colleagues for 
            live collaboration. No email attachments required!</p>

            <div class="green-link">
                <a>
                    See how Fylo works&nbsp;	
                    <span>
                        <img src="assets/chTwelve-fylo-landing-page-with-two-column-layout/icon-arrow.svg" alt="link-arrow"/>
                    </span>
                </a>
            </div>

            <div class="review-container">
                <img class="icon-quotes" src="assets/chTwelve-fylo-landing-page-with-two-column-layout/icon-quotes.svg" alt="icon-quotes" />
                <p>
                    Fylo has improved our team productivity by an order of magnitude. Since 
                    making the switch our team has become a well-oiled collaboration machine.
                </p>

                <div class="testimonials-container">
                    <div class="avatar-testimonials">
                        <img src="assets/chTwelve-fylo-landing-page-with-two-column-layout/avatar-testimonial.jpg" alt="avatar-testimonial" />
                    </div>
                    <div class="text-testimonials">
                        <p class="bold">Kyle Burton</p>
                        <p>Founder & CEO, Huddle</p>
                    </div>
                    
                </div>
            </div>

            
        </div>
        <div class="image-container width-50-100-percent">
            <img src="assets/chTwelve-fylo-landing-page-with-two-column-layout/illustration-2.svg" alt="Illustration-Two"/>
        </div>

    </div>
    <div id="section-early-access-container" class="bgCDesaturatedBlue">

        <div class="content-container width-45-100-percent">

            <h2>Get early access today</h2>

            <p>It only takes a minute to sign up and our free starter tier is extremely generous. 
            If you have any questions, our support team would be happy to help you.</p>
        </div>
        
        <div class="input-container width-45-100-percent">
            <input class="example-email-input" type="email" placeholder="email@example.com" />
            <button class="get-started-for-free-button buttonColor">Get Started For Free</button>
        </div>

    </div>
    <div id="footer-bar-container" class="bgCDarkBlue">

        <div class="logo-footer-container">
            <img src="assets/chTwelve-fylo-landing-page-with-two-column-layout/logo-footer.svg" alt="Footer-Fylo-Logo" />
        </div>

        <div class="footer-contact-information">
            <div class="contact-info-one">
                <ul>
                    <li class="phone">
                        <span><img src="assets/chTwelve-fylo-landing-page-with-two-column-layout/icon-phone.svg" alt="phone-icon" /></span>
                        Phone: +1-543-123-4567
                    </li>
                    <li class="mail">
                        <span><img src="assets/chTwelve-fylo-landing-page-with-two-column-layout/icon-email.svg" alt="email-icon" /></span>
                        example@fylo.com
                    </li>
                </ul>
                
            </div>
            <div class="contact-info-two">
                <ul>
                    <li>About Us</li>
                    <li>Jobs</li>
                    <li>Press</li>
                    <li>Blog</li>
                </ul>

            </div>
            <div class="contact-info-three">
                <ul>
                    <li>Contact Us</li>
                    <li>Terms</li>
                    <li>Privacy</li>
                </ul>

            </div>
            <div class="contact-info-four">

                <div class="icon-container">
                        <a><i class="fab fa-facebook-f fa-sm"></i></a>
                </div>
                <div class="icon-container">
                        <a><i class="fab fa-twitter fa-sm"></i></a>
                </div>

                <div class="icon-container">
                    <a><i class="fab fa-instagram fa-sm"></i></a>
                </div>

            </div>
        </div>
        
    </div>
    
</main>