
#youtube-on-repeat-main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../assets/chFifteen-youtube-on-repeat/Above_Clouds.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    font-size: 18px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;

    input:focus,
    input:active  {
        outline: none;
    }

    .search-link-container {
        width: 100%;
        height: 25vh;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .input-container{
            display: flex;
            flex-direction: row;
            width: 50%;
            height: auto;
            .search-input {
                height: auto;
                width: 80%;
                border: none;
                padding: 20px;
                border-radius: 20px 0 0 20px;
            }

            .button-input {
                width: 20%;
                height: auto;
                background-color: black;
                border: none;
                border-radius: 0 20px 20px 0;
                color: white;
            }
        }

    }

    .youtube-link-container {
        width: 100%;
        height: 75vh;
        display: flex;
        flex-direction: row;
    }
}
