

<main class="mainpages-main-container-height">
  <app-mainpage-navbar></app-mainpage-navbar>
    <div class="max-width-px-container" id="contact-form-page-container">
      <div id="contact-information-container">
        <div id="form-container">
          <!-- <h3 class="h3-mainpages">Contact Me</h3> -->
          <app-mainpage-contact-form></app-mainpage-contact-form>

        </div>
      </div>
    
      <div id="contact-image-container">
    
        <img class="mainPageSvg" src="./assets/mail.svg" alt="Mailbox"/>
          
      </div>

    </div>

</main>
